.device-container{
    
    max-width: 60%;
    margin: 0 auto;

    padding-top: 7rem;
    
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #212121;
    color: white;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: block;
}

.table-1{
 height: 20rem;
 width: 20rem;
}


thead{
    height: 3rem;
    width: 3rem;
    background-color: black;
    
}


@media screen and (max-width: 800px) {
    .device-container{
        max-width: 85%;
    }
}