<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" class="css" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" class="css" />
    <!-- <script
      src="https://kit.fontawesome.com/0e7ccbd866.js"
      crossorigin="anonymous"
    ></script> -->
    <title>LocalHive</title>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="text">
          <div class="head">
            <h1>
              <!-- <i
                  class="fa-sharp fa-solid fa-location-dot fa-flip"
                  style="color: #ff6600"
                  ></i
                  > -->
              <span style="color: #ff6600">Local</span>Hive
            </h1>
            <p class="tagline">Discover. Explore. Locate.</p>
          </div>
        </div>
      </div>

      <div class="detail">
        <p>
          Stay in the know with LocalHive - the location tracker that keeps you
          connected to what matters most.
        </p>
        <div>
          <a href="/home">
            <button class="button">Launch 🚀</button>
          </a>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <!-- <div class="first row"> -->
        <div class="blocks">
          <b> Device Detection </b> <br />
          <p>
            Locate devices, enforce no-phone zones and enhance investigations by
            visualizing the devices transmitting within a facility.
          </p>
        </div>
        <div class="blocks">
          <b> Asset Tracking </b> <br />
          <p>
            Real-time data can help optimize asset workflows, improve
            performance, and ensure safer operations.
          </p>
        </div>
        <!-- </div> -->
        <!-- <div class="Second row"> -->
        <div class="blocks">
          <b> Leverage Existing Infrastructure </b> <br />
          <p>
            Organizations can use Wi-Fi to activate indoor positioning and localization with existing infrastructure.
          </p>
        </div>

        <!-- </div> -->
      </div>
    </div>

    <div class="last">Made with &#x2764; by Hash Society</div>
  </body>
</html>
